/*-------------------------------------------
共通クラス
-------------------------------------------*/
@use "setting" as s;
@use "sass:math";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.5;
  color: s.$colorBlack;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*-------------------------------------------
共通のパーツ
-------------------------------------------*/
/* ここから記述します。 */
.u-sectionTitle {
  font-size: 36px;
  letter-spacing: 0.08em;
  font-weight: bold;
  color: s.$colorBlue;
  position: relative;
  @include s.mq(sp) {
    font-size: 32px;
  }
  &::before {
    content: "";
    background: url(../image/title-image.png) no-repeat center / cover;
    position: absolute;
    top: 10px;
    left: -32px;
    width: 26px;
    height: 26px;
    @include s.mq(sp) {
      top: -20px;
      left: 0;
      width: 19px;
      height: 19px;
    }
  }
}

.u-sectionSubtitle {
  font-size: 16px;
  color: s.$colorYellow;
  margin-top: 6px;
}

.u-button {
  display: inline-flex;
  gap: 24px;
  width: 258.55px;
  height: 57px;
  justify-content: center;
  align-items: center;
  background: s.$colorBtn;
  color: s.$colorWhite;
  border-radius: 36px;
  position: relative;
  img {
    width: 37.55px;
    height: auto;
    transition: 0.3s;
  }
}

.u-button:hover img {
  transform: translateX(20px);
}

.fadein {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 2s ease-out, transform 0.5s ease-in-out;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}
